.red {
    background-color: red !important;
}

.orange {
    background-color: orange !important;
}

.yellow {
    background-color: yellow !important;
}

.green {
    background-color: green !important;
}