.red {
    background-color: red !important;
}

.orange {
    background-color: orange !important;
}

.yellow {
    background-color: yellow !important;
}

.green {
    background-color: green !important;
}

.print {
    display: none;
}

@media print {
    .no-print {
        display: none;
    }
    .print {
        display: block;
    }
}